.swiper-pagination-bullet {
  
  background-color: #222 !important;
  opacity: 0.8 !important;
}
.swiper-pagination-bullet-active {
  background-color: aqua !important;
}
.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}

.setting-menu {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 15px;
  padding: 0 2.5%;
}
.dropzone {
  text-align: center;
  width: calc(50% - 6px);
  padding: 0 1.5% 0 0;
  height: 150px; 
  border: 3px dashed black;
}
.dropzone p {
  font-size:12px;
  text-align: center;
  font-weight: bold;
  margin-top: 65px;
}
.dropzone:hover {
  cursor: pointer;
  background-color: #ccc;
}

.settings {
  font-size:15px;
  font-weight:bold;
  padding: 0 2.5%;
}
.toggleplay {
  padding: 0;
  margin-left: 20px;
  transform: scale(1.5);
}

.handleAutoplayDelayChange {
  width: 50px;
}
.handleSpeedChange {
  width: 100px;
}
.btn-flex {
  flex-direction: column;
}

/*
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide-image {
  max-width: 100%;
  max-height: 100%;
}
*/