.swiper-pagination-bullet {
  
  background-color: #222 !important;
  opacity: 0.8 !important;
}
.swiper-pagination-bullet-active {
  background-color: aqua !important;
}
.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}
/*
.setting-menu {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 15px;
  padding: 0 2.5%;
}
*/
.dropzone {
  text-align: center;
  width: 100%;
  height: 150px; 
  border: 1px dashed black;
}
.dropzone p {
  font-size:12px;
  text-align: center;
  font-weight: bold;
}
.dropzone:hover {
  cursor: pointer;
  background-color: #ccc;
}

.settings {
  font-size:15px;
  font-weight:bold;
  padding: 0;
}
.toggleplay {
  padding: 2px 0 0 0;
  margin:0 0 0 20px;
  transform: scale(1.5);
}

.handleAutoplayDelayChange {
  width: 20px;
}
.handleSpeedChange {
  width: 40px;
}
