body {
  background-color:#F8DE22;
  font-size:24px
}
.App {
  margin-left: 5%;
}
h1 {
  color:#F94C10;
  font-size: 32px;
  padding-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input {
  padding: 3px 5px ;
}
button {
  background-color: #F94C10;
  width: 240px;
  height: 36px;
  font-size:18px;
}
.swiper-pagination-bullet {
  
  background-color: #222 !important;
  opacity: 0.8 !important;
}
.swiper-pagination-bullet-active {
  background-color: aqua !important;
}
.swiper-button-prev {
  display: none !important;
}
.swiper-button-next {
  display: none !important;
}

.dropzone {
  text-align: center;
  width: 100%;
  height: 150px; 
  border: 1px dashed black;
  margin-bottom: 20px;
  background-color: #FFF;
}
.dropzone p {
  font-size:16px;
  text-align: center;
  font-weight: bold;
}
.dropzone:hover {
  cursor: pointer;
  
}

.settings {
  font-weight:bold;
  padding: 0;
}
.toggleplay {
  padding: 2px 0 0 0;
  margin:0 0 0 20px;
  transform: scale(1.5);
}

.handleAutoplayDelayChange {
  width: 20px;
}
.handleSpeedChange {
  width: 40px;
}
.guide-container {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.guide-container p {
  font-size:16px;
}
.kome {
  font-size:15px;
}
